/**
 * github copilotに元ネタにしてもらったソース。
 * 自分で処理のメイン部分を少しコーディングして、wantを明確化。
 */

/**
 * 投稿を削除する処理。削除毎にDOMが変わるので、毎回１件目のみ削除を行う。
 * @return bool true=削除成功。 false=削除対象なし。
 */
function deletePost() {
    // 各投稿のメニューボタンを取得
    const btns = document.querySelector('button[data-testid=caret]');

    if (!btns) {
        return false;
    }

    // 1個目の投稿のメニューボタンをクリック
    btns[0].click();

    // メニューの削除ボタンクリック
    const dltBtn = document.querySelector('div[role=menu] div[role=menuitem]');
    dltBtn.click();

    // 確認ダイアログの削除クリック
    const confDialog = document.querySelector('div[data-testid=confirmationSheetDialog] div button[data-testid=confirmationSheetConfirm]');
    confDialog.click();

    return true;
}


try {
    if (!deletePost()) {
        alert('削除する対象がありません。全件削除は完了しているので、Chrome拡張から削除してください。');
    }
} catch (error) {
    // 例外処理。
    console.error(error);
    alert('エラー');
}